body {
	color: #fff;
	background-color: #444;
}
canvas {
	margin: 20px auto 0px;
	background-color: #000 !important;
	display: block;
	border: 3px inset #999;
	background-color: #ffffff;
}
#test {
	margin-left: 120px;
}	
